/* Apply styles to the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #1dc9c3;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
}

/* Styling for the video container */
.container {
    background: rgb(220, 225, 222);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width:90%;
    margin: 20px auto;
}

/* Styling for the video */
video {
    width: 100%;
    border-radius: 10px;
}

/* Styling for the paragraph */
p {
    margin-top: 15px;
    font-size: 16px;
    color: #333;
}